#box-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "content content advert"
      "footer footer footer";
    text-align: center;
    */
  }

body {
  background-image: url(https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?cs=srgb&dl=pexels-matheus-natan-3394939.jpg&fm=jpg);
}

header {
  display: flex;
  justify-cotent: space-between;
  align-items: center;
}

.white {
  color: #fff;
  text-align: center;
}

#box-1 {
    background-color: #e0ebeb;
    grid-area: header;
    width: 70%;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    margin: 10px auto;
    border-radius: 10px;
}

#box-2 {
    background-color: #a3c2c2;
    grid-area: content;
    width: 70%;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    margin: 10px auto;
    border-radius: 10px;
}
#box-3 {
    background-color: #476b6b;
    color: white;
    width: 70%;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    margin: 10px auto;
    border-radius: 10px;
}

.button1 {
    border-radius: 12px;
    font-size: 24px;
    tranisition-duration: 0.5s;
}
.button1:hover {
    background-color: #a3c2c2;
    color: white;
}
.button2 {
    border-radius: 12px;
    font-size: 24px;
    tranisition-duration: 0.5s;
}
.button2:hover {
    background-color: #476b6b;
    color: white;
}
.button3 {
    border-radius: 12px;
    font-size: 24px;
}
.button3:hover {
    background-color: #83afaf;
    color: white;
}
